@use "../variables" as v;

.navbar {
	background-color: v.$white;
	height: v.$navbar-height;
	padding: .5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.theme-dark & {
		background-color: v.$gray;
		color: v.$white;
	}

	&_left>i {
		font-size: 1.3rem;
	}

	&_middle {

		&_search {
			background-color: white;
			border-radius: 25px;
			padding: .5rem .7rem;
			display: flex;
			align-items: center;
		}

		.fa-search {
			// color: gray;
		}

		& input[type=text] {
			flex: 1;
			background-color: transparent;
			border: none;
			outline: none;
			font-size: 1rem;
			padding: 0 1rem 0 .7rem;
			color: black;
		}

		& input::placeholder {
			color: gray;
			text-align: center;
		}
	}

	&_right {
		display: flex;
		align-items: center;

		.fa-cog,
		.fa-sign-out-alt {
			// color: gray;
			font-size: 1.3rem;
		}

		.fa-sign-out-alt {
			display: none;
		}

		&_logout {
			padding: .3rem .7rem .4rem;
			border: none;
			background-color: v.$green;
			color: v.$white;
			margin: 0 .5rem;
			border-radius: 4px;
		}
	}
}