.or-seperator {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;

	opacity: 0.4;

	& span {
		margin: 0 0.5rem;
	}

	&::after,
	&::before {
		content: "";
		width: 100%;
		height: 2px;
		background-color: currentColor;
	}
}
