@use "../variables" as v;

.user-form-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	& main {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: v.$white;
		.theme-dark & {
			background-color: v.$black;
		}
	}
}
