.loading-spinner {
	--radius: 1rem;
	--stroke-width: 0.1rem;
	--normalized-radius: calc(var(--radius) - var(--stroke-width) / 2);
	--circumference: calc(var(--normalized-radius) * 6.28318);

	--hw: calc(2 * var(--radius));
	width: var(--hw);
	height: var(--hw);

	& circle {
		r: var(--normalized-radius);
		cx: var(--radius);
		cy: var(--radius);
		stroke: {
			width: var(--stroke-width);
			dasharray: var(--circumference) var(--circumference);
		}

		animation: spinner-dashoffset 2s ease-in-out infinite;
	}

	animation: spinner-rotate 0.666s linear infinite;
}

@keyframes spinner-dashoffset {
	0% {
		stroke-dashoffset: calc(var(--circumference) / 10);
	}
	50% {
		stroke-dashoffset: calc(var(--circumference) / 1.2);
	}
	100% {
		stroke-dashoffset: calc(var(--circumference) / 10);
	}
}

@keyframes spinner-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
